
<div class="container"><div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p style="text-align: center;">

		</p>
		<div class="row fillable megalist" data-action="fillable-megalist" data-location="" data-segmented="false" data-date="20220317">
			<div class="megalist-container">
				<div class="megalist">
					<div class="loading" style="display:none;">

					</div>
					<div class="row meta">
						<div class="col-md-12">
							<div class="date-select-mobile">
								<div class="inner">
									<select>
										<option value="20220317" selected="">Today</option>
										<option value="20220318">Tomorrow</option>
										<option value="20220319">Saturday</option>
										<option value="20220320">Sunday</option>
										<option value="20220321">Monday</option>
										<option value="20220322">Tuesday</option>
										<option value="20220323">Wednesday</option>
									</select><div class="calendar-icon-mobile">
										<input type="text" id="datepicker-mobile" readonly="" class="hasDatepicker">
										</div>
										</div>
										</div>
										<span class="current-date-mobile">Thursday 17/03/2022</span>
		<div>
			<ul class="legend-mobile">
		<li class="is-3D" data-type="is-3D">
			<a href="">
				<span>

				</span>3D / 3D HFR</a>
				</li>
		<li class="is-4K" data-type="is-4K"><a href="https://www.movies-at.ie/4k-movies/"><span></span>4K</a></li>
		<li class="is-MX" data-type="is-MX"><a href=""><span></span>M@X / 4K M@X</a></li>
		<li class="is-KC" data-type="is-KC"><a href="https://www.movies-at.ie/mornings/kids-club/"><span></span>Kids Club</a></li>
		<li class="is-RP" data-type="is-RP"><a href="https://www.movies-at.ie/mornings/reel-parents/"><span></span>Reel Parents</a></li>
		<li class="is-HH" data-type="is-HH"><a href="https://www.movies-at.ie/mornings/hard-of-hearing/"><span></span>HOH / Subtitles</a></li>
		<li class="is-SF" data-type="is-SF"><a href=""><span></span>Sensory Friendly</a></li>
		<li class="is-SN" data-type="is-SN"><a href="https://www.movies-at.ie/mornings/special-needs-friendly/"><span></span>Special Needs</a></li>
		<li class="is-VP active" data-type="is-VP"><a href="https://www.movies-at.ie/vip/"><span></span>VIP / 4K VIP</a></li>
		<!--<li class="sold-out"><span></span>Sold Out</li>-->
		</ul></div><div class="date-select"><ul class="date-list"><li data-date="20220317" class="selected">Today</li><li data-date="20220318">Tomorrow</li><li data-date="20220319">Saturday</li><li data-date="20220320">Sunday</li><li data-date="20220321">Monday</li><li data-date="20220322">Tuesday</li><li data-date="20220323">Wednesday</li><li class="calendar-icon"><input type="text" id="datepicker" readonly="" class="hasDatepicker"></li></ul><span class="current-date">Thursday 17/03/2022</span>
		<div><ul class="legend">
		<li class="is-3D" data-type="is-3D"><a href=""><span></span>3D / 3D HFR</a></li>
		<li class="is-4K" data-type="is-4K"><a href="https://www.movies-at.ie/4k-movies/"><span></span>4K</a></li>
		<li class="is-MX" data-type="is-MX"><a href=""><span></span>M@X / 4K M@X</a></li>
		<li class="is-KC" data-type="is-KC"><a href="https://www.movies-at.ie/mornings/kids-club/"><span></span>Kids Club</a></li>
		<li class="is-RP" data-type="is-RP"><a href="https://www.movies-at.ie/mornings/reel-parents/"><span></span>Reel Parents</a></li>
		<li class="is-HH" data-type="is-HH"><a href="https://www.movies-at.ie/mornings/hard-of-hearing/"><span></span>HOH / Subtitles</a></li>
		<li class="is-SF" data-type="is-SF"><a href=""><span></span>Sensory Friendly</a></li>
		<li class="is-SN" data-type="is-SN"><a href="https://www.movies-at.ie/mornings/special-needs-friendly/"><span></span>Special Needs</a></li>
		<li class="is-VP active" data-type="is-VP"><a href="https://www.movies-at.ie/vip/"><span></span>VIP / 4K VIP</a></li>
		<!--<li class="sold-out"><span></span>Sold Out</li>-->
		</ul></div></div></div></div></div></div></div>

</div></div></div>

@code { }
